@use "../../_bw" as *;

// Aspect-ratio 1:1 hack: https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
.bw-beer-grid-item {
  @extend %box-shadow-1;

  border-radius: $border-radius-base;
  color: var(--bw-font-color-body);
  line-height: 0; // to ensure it is perfectly squared;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;

  .beer-main-picture {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .beer-name {
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    padding: 8px;
    position: absolute;
    line-height: 16px;
    text-align: center;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}
