@use "../variables" as *;

%flex {
  display: flex;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%flex-row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%flex-col-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex-row-justify-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%flex-col-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%flex-row-all-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%flex-col-all-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
