html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
