@use '../../_bw' as *;

.bw-button {
  @extend %flex-row-align-center;

  background-color: transparent;
  border: 1px solid var(--bw-primary);
  border-radius: $border-radius-base;
  min-height: 24px;
  padding: 0 16px;

  .icon {
    height: 16px;
  }

  &:hover {
    cursor: pointer;
  }
}
