@use '../../abstracts' as *;

.bw-input,
:host {
  @extend %flex-col;

  label {
    font-size: $font-size-sm;
    width: 100%;
  }

  input {
    border: 1px solid get-color('divider');
    border-radius: $border-radius-base;
    border-bottom: 1px solid get-color('divider');
    box-sizing: border-box;
    padding: 8px;
    margin: 4px 0;
    transition: border-color $anim-speed-base;
    width: 100%;

    &:active,
    &:focus {
      border-color: get-color('primary');
      outline: none;
    }
  }

  .error {
    color: get-color('error');
    font-size: $font-size-xs;
    width: 100%;
  }
}
