@use "_bw" as *;

// Common styling
@use "global/common";
@use "global/reset_base";
@use "global/reset_custom";
@use "animations";

// Layout styling
@use "layouts";

// Components styling
@use "components";

// Init CSS variables

:root {
  --bw-bg-main: #{$bg-main};
  --bw-bg-white: #{$bg-white};
  --bw-font-color-body: #{$font-color-body};
  --bw-font-color-sub-body: #{$font-color-sub-body};
  --bw-primary: #{$primary};
}
