@use 'abstracts' as *;
@use 'base';

// Init CSS variables
:root {
  --bw-bg-main: #{$bg-main};
  --bw-bg-white: #{$bg-white};
  --bw-font-color-body: #{$font-color-body};
  --bw-font-color-sub-body: #{$font-color-sub-body};
  --bw-primary: #{$primary};
  --bw-primary-light: #{$primary-light};
  --bw-primary-dark: #{$primary-dark};
  --bw-divider: #{$divider};
}
