<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beer World</title>

    <script type="text/javascript">
      // https://veerasundar.com/blog/2019/01/how-to-inject-environment-values-in-javascript-app-with-webpack/
      window.BW_ENV = {
        API_BASE_URL: "<%= htmlWebpackPlugin.options.bwEnv.apiBaseUrl %>",
      };
    </script>
  </head>
  <body>
    <bw-app>
      <div class="bw-login">
        <bw-card padded>
          <div id="feedback-placeholder"></div>
          <form id="bw-login-form">
            <input name="login" />
            <input name="password" type="password" />

            <bw-button type="reset">Clear</bw-button>
            <bw-button type="submit">Login</bw-button>
          </form>
        </bw-card>
      </div>
    </bw-app>
  </body>
</html>
